.hero {
  min-height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

/* Desktop */
.hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero h1 span {
  color: #facc15;
}

.hero p {
  margin-top: 16px;
  color: #cfcfcf;
  max-width: 600px;
  font-size: 18px;
}

/* Buttons */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

/* Tablet */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 46px;
  }

  .hero p {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 15px;
    max-width: 90%;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .buttons button {
    width: 100%;
    max-width: 280px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 30px;
  }

  .hero p {
    font-size: 14px;
  }
}


.primary {
  background: #facc15;
  color: black;
  border: none;
  padding: 14px 26px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 14px 26px;
  border-radius: 25px;
  cursor: pointer;
}
