.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo img {
  height: 36px;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.menu li a.active {
  color: #facc15;
}

.menu li a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #facc15;
  left: 0;
  bottom: -6px;
}

.contact-btn-1 {
  display: none;
  background: white;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.contact-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.desktop-btn {
  display: block;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 2px;
  background: white;
  transition: 0.3s;
}

@media (max-width: 900px) {
  .navbar {
    padding: 18px 30px;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #0b0b0b;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 30px 0;
    transform: translateY(-120%);
    transition: 0.4s ease;
  }

  .menu.open {
    transform: translateY(0);
  }

  .desktop-btn {
    display: none;
  }

  .mobile-btn {
    display: block;
  }

  .hamburger {
    display: flex;
  }
  .contact-btn-1{
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 16px 20px;
  }

  .logo img {
    height: 32px;
  }
}
